*{
    padding: 0;
    margin: 0;
}

*:focus{
    outline: none;
}

html,
body{
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    overflow: hidden;
}

a{
    display: inline-block;
    transition: 0.3s;
    font-weight:bold;
    text-decoration:none;
    color: rgb(0, 50, 0);
    cursor: pointer;
}

a:hover{
    color: rgb(0, 150, 75);
}

a:visited{ 
    text-decoration: none; 
    color: rgb(0, 50, 25); 
}

.wrap{
    height: 100%;
    min-height: 400px;
    width: 100%;
    flex: 1 0 auto;
    flex-direction: column;
}

#head{
    width: 100%;
    min-height: 40px;
    display: flex;
    padding-top: 30px;
    padding-bottom: 30px;
    justify-content: center;
}

input{
    width: 130px;
    margin-right: 5px;
    border-radius: 10px;
    padding: 10px;
    -moz-transition: width 0.3s ease-out;
    -webkit-transition: width 0.3s ease-out;
    transition: width 0.3s ease-out;
}

.button{
    width: 35px;
    height: 35px;
    border-radius: 15px;
    opacity: 0.6;
    border: none;
    background-image: url("../images/search-icon.png");
    background-size: 30px 30px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

#result-window{
    align-items: center;
    position: relative;
    display: flex;
    min-height: 300px;
    height: 80%;
    left: 0px;
    width: 0;
}

.page{
    display: inline-flex;
    overflow: hidden;
    position: relative;
    left: 0px;
    -moz-transition: left 0.3s ease-in-out;
    -webkit-transition: left 0.3s ease-in-out;
    transition: left 0.3s ease-in-out;
    height: 100%;
}

#page-indicator{
    position: relative;
    display: block;
    border-radius: 20px;
    text-align: center;
    left: calc(50% - 20px);
    bottom: -10%;
    width: 40px;
    opacity: 0;
    height: 40px;
    font-size: 35px;
    color: white;
    box-shadow: 0px 5px 10px gray;
    background-color: rgb(70, 140, 180);
    -moz-transition: bottom 0.1s ease-in;
    -webkit-transition: bottom 0.1s ease-in;
    transition: bottom 0.1s ease-in;
}

#page-indicator,
#result-window{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;  
}