.video{
    margin-top:5px;
    position: relative;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    border-radius: 10%;
    background: lightblue;
    box-shadow: 0px 15px 30px gray;
    padding: 10px;
    height: 80%;
    min-height: 220px;
    min-width: 180; 
    overflow: hidden;
}

.video-image{
    height: 45%;
    max-height: 320px;
    background-image: url("#");
    background-size: 100% 100%;
    margin: 10px;
}

.video-title{
    text-align: center;
    display: inline-block;
    max-height: 40px;
    overflow: hidden;
}

.video-public-info{
    padding: 5px;
    display: flex;
    justify-content: space-around;
    overflow: hidden;
    height: 20px;
    text-overflow: ellipsis;
}
.video-author{
    max-height: inherit;
    display: inline-block;
    width: 50%;
    overflow: hidden;
}

.video-date{
    display: inline-block;
    text-align: right;
    width: 50%;
    overflow: hidden;
}

.video-description{
    text-align: justify;
    display: block;
    overflow: hidden;
    max-height: 35%;
}