.video{
    padding: 10px;
    min-width: 160px;
    min-height: 240px;
    position: relative;
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    background: lightpink;
}

.video-title,
.video-description,
.video-public-info{
    width: 100%;
    font-size: 100%;
    text-justify: inter-word;
    word-wrap: break-word;
    text-overflow: ellipsis;
    overflow: hidden;
}

.video-title{
    height: 10%;
    min-height: 20px;
}

.video-image{
    min-height: 90px;
    min-width: 160px;
    height: 45%;
    background-image: url("#");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.video-public-info{
    height: 10%;
    min-height: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.video-description{
    min-height: 70px;
    height: 35%;
}