.video{
    padding:10px;
    width: 480px;
    height: 600px;
    position: relative;
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    background: lightpink;
    align-content: center;
}

.video-tittle,
.video-description,
.video-public-info{
    width: 100%;
    align-items: center;
    text-justify: inter-word;
    text-overflow: ellipsis;
    overflow: hidden;
}

.video-tittle{
    height: 40px;
    border: 2px solid gray;
    font-size: 20px;
}

.video-image{
    height: 360px;
    background-image: url("#");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: 480px 360px;
}

.video-public-info{
    font-size: 18px;
    height: 40px;
    display: flex;
    justify-content: space-around;
}

.video-description{
    font-size: 15px;
}